<div id="carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for project in site.data.projects %}
    <li data-target="#carousel" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
    {% endfor %}
  </ol>

  <div class="carousel-inner bg-bleu">
    {% for project in site.data.projects %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      {% if project.image %}
        <img class="d-block mx-auto" src="{{ '/assets/showcase/' | relative_url }}{{ project.image }}" alt="{{ project.ref }}" height="500px">
      {% elsif project.video %}
        {% if project.video.youtube_id %}
          <iframe height="500px" width="100%" src="https://www.youtube.com/embed/{{ project.video.youtube_id }}?autoplay=1&loop=1&controls=0&showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        {% else %}
          <video heigh="500px" width="100%" autoplay loop muted src="{{ project.video.url }}"></video>
        {% endif %}
      {% endif %}
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ project.title }}</h5>
        <p>{{ project.description }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
