<footer class="footer text-center">
  <div class="container">
    <a href="http://projects.cnrs.fr/gepetto/">
      <span class="text-muted">Gepetto Research Group - Movement of Anthropomorphic Systems</span>
    </a>
    <a href="http://www.cnrs.fr/" class="float-left">
      <img alt="CNRS" src="{{ '/assets/logos/cnrs-blanc-filaire-30x30.png' | relative_url }}" width="30" height="30"/>
    </a>
    <a href="https://www.laas.fr/public/" class="float-right">
      <img alt="LAAS" src="{{ '/assets/logos/laas-2016-59x30.jpg' | relative_url }}" width="59" height="30"/>
    </a>
  </div>
</footer>
