<div style="padding: 2em"></div>
<footer class="footer text-center">
  <div class="container">
    <a href="http://projects.cnrs.fr/gepetto/" class="float-left">
      <img alt="Gepetto" src="{{ '/assets/logos/logo-mono-black.png' | relative_url }}" height="30"/>
    </a>
    <span class="text-muted">Gepetto Research Group - Movement of Anthropomorphic Systems</span>
    <a href="http://www.cnrs.fr/" class="float-right">
      <img alt="CNRS" src="{{ '/assets/logos/cnrs-blanc-filaire-30x30.png' | relative_url }}" width="30" height="30"/>
    </a>
  </div>
</footer>
