<nav class="navbar navbar-expand-lg navbar-dark bg-bleu">
  <div class="container">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">
      <img alt="Gepetto Logo" src="{{ '/assets/logos/gepetto-low-black-26x30.png' | relative_url }}" height="30" width="26" class="d-inline-block align-top" />
      {{ site.title | escape}}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        {% for category in site.category_list %}
        <li class="nav-item dropdown {% if page.category == category.name %}active{% endif %}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown{{ category.name | slugify }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-{{ category.icon }}"></i>
            {{ category.name }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown{{ category.name | slugify }}">
            {% for page in site.pages %}
            {% if page.category == category.name %}
            <a class="dropdown-item" href="{{ page.url | relative_url }}">{{ page.title }}</a>
            {% endif %}
            {% endfor %}
          </div>
        </li>
        {% endfor %}

      </ul>
    </div>
  </div>
</nav>
