<nav class="navbar navbar-expand-lg navbar-dark bg-bleu py-0">
  <div class="container">
    <a href="https://www.laas.fr/public/">
      <img alt="LAAS" src="{{ '/assets/logos/LAAS-2016.jpg' | relative_url }}" height="56" class="mr-3" />
    </a>
    <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title | escape}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        {% for category in site.category_list %}
        <li class="nav-item dropdown {% if page.category == category.name %}active{% endif %}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown{{ category.name | slugify }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-{{ category.icon }}"></i>
            {{ category.name }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown{{ category.name | slugify }}">
            {% for spage in site.pages %}{% if spage.category == category.name %}
            <a class="dropdown-item {% if page.name == spage.name %}active{% endif %}" href="{{ spage.url | relative_url }}">{{ spage.title }}</a>
            {% endif %}{% endfor %}
            {% if category.links %}
            <div class="dropdown-divider"></div>
            {% for link in category.links %}
            <a class="dropdown-item" href="{{ link.url }}">{{ link.name }}</a>
            {% endfor %}
            {% endif %}
          </div>
        </li>
        {% endfor %}

      </ul>
    </div>
  </div>
</nav>
