:root {
    --bleu-cnrs: rgb(0,41,75);
    --bleu-clair-cnrs: rgb(98,196,221);
    --rouge-laas: rgb(233,75,87);
}

h1,h4 { color: var(--bleu-cnrs); }
h2,h5 { color: var(--bleu-clair-cnrs); }
h3,h6 { color: var(--rouge-laas); }
a { color: var(--bleu-clair-cnrs); }

html {
    position: relative;
    min-height: 100%;
}
body { margin-bottom: 156px; }
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 56px;
    line-height: 56px;
    background-color: var(--bleu-cnrs);
}
.bg-bleu { background-color: var(--bleu-cnrs); }
.jumbotron { min-height: 328px; }
.btn-primary { background-color: var(--bleu-clair-cnrs); border-color: rgba(0,0,0,0); }

pre {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
