---
layout: default
---

<div class="jumbotron">
  <a href="http://projects.laas.fr/gepetto">
    <img src="{{ '/assets/logos/gepetto-high-white-203x200.png' | relative_url }}" alt="Gepetto Logo" width="203" height="200" class="float-left"/>
  </a>
  <h1 class="display-4">{{ site.title }}</h1>
  <hr class="my-4">
  <p class="lead">{{ site.description }}</p>
  <p class="lead">
  <a class="btn btn-primary btn-lg" href="{{ 'download.html' | relative_url }}" role="button">Get started now »</a>
  </p>
</div>

{{ content }}
